.room {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__container {
    display: flex;
    flex-direction: column;
    background-color: #990000;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }

  &__info-number {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
  }

  &__info-edit {
    text-decoration: underline;
    letter-spacing: 0.05rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &__content-info-icon {
    font-size: 1.4rem;
  }

  &__content-name {
    color: black;
    letter-spacing: 0.03rem;
    font-size: 1.1rem;
  }

  &__variant-one {
    background-color: blue;
  }
  &__variant-two {
    background-color: green;
  }
  &__variant-three {
    background-color: #f2f2f2;
  }

  &__bed-svg {
    width: 3rem;
  }
}

.rooms {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 2rem;
}
