.room {
  width: 10rem;
  height: 10rem;
  background-color: gray;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  &__bed-svg {
    width: 3rem;
  }
}

.rooms {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 2rem;
}
